{
		"root": true,
		"extends": ["plugin:prettier/recommended", "plugin:@typescript-eslint/recommended"],
		"parserOptions": {
				"project": ["tsconfig.json"],
				"createDefaultProgram": true
		},
		"plugins": ["prettier", "@typescript-eslint"],
    "rules": {}
}
